.callout {
	--title-margin: 0.25em;
	--theorem-color: 200, 0, 0, 1;
	--theorem-bg-color: 200, 100, 100, 0.2;
	--proposition-color: 200, 100, 0, 1;
	--proposition-bg-color: 200, 120, 0, 0.2;
	--lemma-color: 50, 50, 50, 1;
	--lemma-bg-color: 100, 100, 100, 0.2;
	--corollary-color: 100, 100, 0, 1;
	--corollary-bg-color: 255, 255, 0, 0.2;
	--remark-color: 250, 0, 0, 1;
	--remark-bg-color: 250, 200, 0, 0.3;
	--exercise-color: 0, 100, 100, 1;
	--exercise-bg-color: 0, 255, 255, 0.2;
	--definition-color: 0, 0, 255, 1;
	--definition-bg-color: 0, 0, 255, 0.2;
	--example-color: 0, 100, 0, 1;
	--example-bg-color: 0, 255, 0, 0.2;
}

/* 定理 theorem */
.callout[data-callout="theorem"] {
	background-color: rgba(var(--theorem-bg-color));
}
.callout[data-callout="theorem"]  .callout-icon {
	visibility: visible;
}
.callout[data-callout="theorem"]  .callout-icon svg {
	stroke: rgba(var(--theorem-color));
}

.callout[data-callout="theorem"].callout:not([data-callout-metadata~="title"]) .callout-title {
	visibility: hidden;
}
.callout[data-callout="theorem"].callout:not([data-callout-metadata~="title"]) .callout-icon::after {
	margin-left: var(--title-margin);
	content: "定理";
	font-weight: bold;
	color: rgba(var(--theorem-color));
}

.callout[data-callout="theorem"].callout[data-callout-metadata~="title"] .callout-title {
	visibility: visible;
	color: rgba(var(--theorem-color));
}
.callout[data-callout="theorem"].callout[data-callout-metadata~="title"] .callout-title-inner::before {
	content: "定理（"
}
.callout[data-callout="theorem"].callout[data-callout-metadata~="title"] .callout-title-inner::after {
	content: "）"
}

/* 命題 proposition */
.callout[data-callout="proposition"] {
	background-color: rgba(var(--proposition-bg-color));
}
.callout[data-callout="proposition"]  .callout-icon {
	visibility: visible;
}
.callout[data-callout="proposition"]  .callout-icon svg {
	stroke: rgba(var(--proposition-color));
}

.callout[data-callout="proposition"].callout:not([data-callout-metadata~="title"]) .callout-title {
	visibility: hidden;
}
.callout[data-callout="proposition"].callout:not([data-callout-metadata~="title"]) .callout-icon::after {
	margin-left: var(--title-margin);
	content: "命題";
	font-weight: bold;
	color: rgba(var(--proposition-color));
}

.callout[data-callout="proposition"].callout[data-callout-metadata~="title"] .callout-title {
	visibility: visible;
	color: rgba(var(--proposition-color));
}
.callout[data-callout="proposition"].callout[data-callout-metadata~="title"] .callout-title-inner::before {
	content: "命題（"
}
.callout[data-callout="proposition"].callout[data-callout-metadata~="title"] .callout-title-inner::after {
	content: "）"
}

/* 補題 lemma */
.callout[data-callout="lemma"] {
	background-color: rgba(var(--lemma-bg-color));
}
.callout[data-callout="lemma"]  .callout-icon {
	visibility: visible;
}
.callout[data-callout="lemma"]  .callout-icon svg {
	stroke: rgba(var(--lemma-color));
}

.callout[data-callout="lemma"].callout:not([data-callout-metadata~="title"]) .callout-title {
	visibility: hidden;
}
.callout[data-callout="lemma"].callout:not([data-callout-metadata~="title"]) .callout-icon::after {
	margin-left: var(--title-margin);
	content: "補題";
	font-weight: bold;
	color: rgba(var(--lemma-color));
}

.callout[data-callout="lemma"].callout[data-callout-metadata~="title"] .callout-title {
	visibility: visible;
	color: rgba(var(--lemma-color));
}
.callout[data-callout="lemma"].callout[data-callout-metadata~="title"] .callout-title-inner::before {
	content: "補題（"
}
.callout[data-callout="lemma"].callout[data-callout-metadata~="title"] .callout-title-inner::after {
	content: "）"
}

/* 系 corollary */
.callout[data-callout="corollary"] {
	background-color: rgba(var(--corollary-bg-color));
}
.callout[data-callout="corollary"]  .callout-icon {
	visibility: visible;
}
.callout[data-callout="corollary"]  .callout-icon svg {
	stroke: rgba(var(--corollary-color));
}

.callout[data-callout="corollary"].callout:not([data-callout-metadata~="title"]) .callout-title {
	visibility: hidden;
}
.callout[data-callout="corollary"].callout:not([data-callout-metadata~="title"]) .callout-icon::after {
	margin-left: var(--title-margin);
	content: "系";
	font-weight: bold;
	color: rgba(var(--corollary-color));
}

.callout[data-callout="corollary"].callout[data-callout-metadata~="title"] .callout-title {
	visibility: visible;
	color: rgba(var(--corollary-color));
}
.callout[data-callout="corollary"].callout[data-callout-metadata~="title"] .callout-title-inner::before {
	content: "系（"
}
.callout[data-callout="corollary"].callout[data-callout-metadata~="title"] .callout-title-inner::after {
	content: "）"
}

/* 注意 remark */
.callout[data-callout="remark"] {
	background-color: rgba(var(--remark-bg-color));
}
.callout[data-callout="remark"]  .callout-icon {
	visibility: visible;
}
.callout[data-callout="remark"]  .callout-icon svg {
	stroke: rgba(var(--remark-color));
}

.callout[data-callout="remark"].callout:not([data-callout-metadata~="title"]) .callout-title {
	visibility: hidden;
}
.callout[data-callout="remark"].callout:not([data-callout-metadata~="title"]) .callout-icon::after {
	margin-left: var(--title-margin);
	content: "注意";
	font-weight: bold;
	color: rgba(var(--remark-color));
}

.callout[data-callout="remark"].callout[data-callout-metadata~="title"] .callout-title {
	visibility: visible;
	color: rgba(var(--remark-color));
}
.callout[data-callout="remark"].callout[data-callout-metadata~="title"] .callout-title-inner::before {
	content: "注意（"
}
.callout[data-callout="remark"].callout[data-callout-metadata~="title"] .callout-title-inner::after {
	content: "）"
}

/* 演習 exercise */
.callout[data-callout="exercise"] {
	background-color: rgba(var(--exercise-bg-color));
}
.callout[data-callout="exercise"]  .callout-icon {
	visibility: visible;
}
.callout[data-callout="exercise"]  .callout-icon svg {
	stroke: rgba(var(--exercise-color));
}

.callout[data-callout="exercise"].callout:not([data-callout-metadata~="title"]) .callout-title {
	visibility: hidden;
}
.callout[data-callout="exercise"].callout:not([data-callout-metadata~="title"]) .callout-icon::after {
	margin-left: var(--title-margin);
	content: "演習";
	font-weight: bold;
	color: rgba(var(--exercise-color));
}

.callout[data-callout="exercise"].callout[data-callout-metadata~="title"] .callout-title {
	visibility: visible;
	color: rgba(var(--exercise-color));
}
.callout[data-callout="exercise"].callout[data-callout-metadata~="title"] .callout-title-inner::before {
	content: "演習（"
}
.callout[data-callout="exercise"].callout[data-callout-metadata~="title"] .callout-title-inner::after {
	content: "）"
}

/* 定義 definition */
.callout[data-callout="definition"] {
	background-color: rgba(var(--definition-bg-color));
}
.callout[data-callout="definition"]  .callout-icon {
	visibility: visible;
}
.callout[data-callout="definition"]  .callout-icon svg {
	stroke: rgba(var(--definition-color));
}

.callout[data-callout="definition"].callout:not([data-callout-metadata~="title"]) .callout-title {
	visibility: hidden;
}
.callout[data-callout="definition"].callout:not([data-callout-metadata~="title"]) .callout-icon::after {
	margin-left: var(--title-margin);
	content: "定義";
	font-weight: bold;
	color: rgba(var(--definition-color));
}

.callout[data-callout="definition"].callout[data-callout-metadata~="title"] .callout-title {
	visibility: visible;
	color: rgba(var(--definition-color));
}
.callout[data-callout="definition"].callout[data-callout-metadata~="title"] .callout-title-inner::before {
	content: "定義（"
}
.callout[data-callout="definition"].callout[data-callout-metadata~="title"] .callout-title-inner::after {
	content: "）"
}


/* 例 example */
.callout[data-callout="example"] {
	background-color: rgba(var(--example-bg-color));
}
.callout[data-callout="example"]  .callout-icon {
	visibility: visible;
}
.callout[data-callout="example"]  .callout-icon svg {
	stroke: rgba(var(--example-color));
}

.callout[data-callout="example"].callout:not([data-callout-metadata~="title"]) .callout-title {
	visibility: hidden;
}
.callout[data-callout="example"].callout:not([data-callout-metadata~="title"]) .callout-icon::after {
	margin-left: var(--title-margin);
	content: "例";
	font-weight: bold;
	color: rgba(var(--example-color));
}

.callout[data-callout="example"].callout[data-callout-metadata~="title"] .callout-title {
	visibility: visible;
	color: rgba(var(--example-color));
}
.callout[data-callout="example"].callout[data-callout-metadata~="title"] .callout-title-inner::before {
	content: "例（"
}
.callout[data-callout="example"].callout[data-callout-metadata~="title"] .callout-title-inner::after {
	content: "）"
}